// all variable here
$font-raleway: "Raleway", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

$p-white: #ffffff;
$p-black: #444444;

$p-size-14: 14px;

$h-black: #111111;
$h-white: #ffffff;

$section-m: 115px;
$section-top-m: 100px;
